*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1em;
}

html{
    font-size: 62.5%;
}

/* Globals */

.container{
    padding: 0px 24px;
}

.burger{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.burger > .row{
    width: 32px;
    height: 2px;
    background-color: #ffffff;
}

/* Buttons */

.btn{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    height: 48px;
    width: 137px;
    background-color: rgba(0,0,0,0);
    color: #fff;
    cursor: pointer;
}

.btn-primary{
    background-color: #fff;
    color: #FF505C;
}

.btn-secondary{
    border: 1px solid #fff;
}

/* Hero section */

#hero{
    background: linear-gradient(160deg, #ff8f71, #ff3e55);
    height: 600px;
    position: relative;
    border-radius: 0px 0px 0px 100px;
    z-index: -2;
}

#hero::before{
    content: "";
    position: absolute;
    height: inherit;
    border-radius: 0px 0px 0px 100px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-image: url('../images/bg-pattern-intro.svg');
    background-repeat: no-repeat;
    background-size: 340%;
    background-position: 35% 35%;
    z-index: -1;
}

#hero header{
    z-index: 10;
    height: 168px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hero-content{
    margin-top: 24px;
}

#hero-content > h1{
    font-size: 36px;
    color: #ffffff;
    text-align: center;
    font-family: 'Overpass', sans-serif;
}

#hero-contentA::after{
    content: "\a";
    white-space: pre;
}

#hero-content > p{
    font-family: 'Overpass', sans-serif;
    color: #fff;
    font-weight: 300;
    text-align: center;
    font-size: 18px;
}

#hero-content > .controls{
    margin-top: 48px;
    display: flex;
    justify-content: space-evenly;
}
