*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1em;
    list-style: none;
    text-decoration: none;
}

html{
    font-size: 62.5%;
}

/* Globals */

.container{
    padding: 0px 24px;
}

.burger{
    display: flex;
    flex-direction: column;
}

.burger > .row{
    width: 32px;
    height: 2px;
    background-color: #ffffff;
    transition: transform 300ms ease-in;
}

.burger > .row + .row{
    margin-top: 6px;
}

/* Arrow Icons */
.arrow-icon > img{
    transition: transform 500ms;
}

/* Buttons */

.btn{
    display: inline-block;
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    height: 48px;
    width: 137px;
    background-color: rgba(0,0,0,0);
    color: #1F3E5A;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 48px;
}

.btn-primary{
    font-family: 'Ubuntu', sans-serif;
    background-color: #fff;
    color: #FF505C;
}

.btn-secondary{
    font-family: 'Ubuntu', sans-serif;
    border: 1px solid #fff;
    color: #fff;
}

.btn-filled{
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    background: linear-gradient(45deg, #ff8f71, #ff3e55);
}

/* Hero section */

#hero{
    background: linear-gradient(160deg, #ff8f71, #ff3e55);
    height: 600px;
    position: relative;
    border-radius: 0px 0px 0px 100px;
    z-index: 1;
}

#hero::before{
    content: "";
    position: absolute;
    height: inherit;
    border-radius: 0px 0px 0px 100px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-image: url('../images/bg-pattern-intro.svg');
    background-repeat: no-repeat;
    background-size: 340%;
    background-position: 35% 35%;
    z-index: -1;
}

#hero header{
    z-index: 10;
    height: 168px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#hero-content{
    margin-top: 24px;
}

#hero-content > h1{
    font-size: 36px;
    color: #ffffff;
    text-align: center;
    font-family: 'Overpass', sans-serif;
}

#hero-contentA::after{
    content: "\a";
    white-space: pre;
}

#hero-content > p{
    font-family: 'Overpass', sans-serif;
    color: #fff;
    font-weight: 300;
    text-align: center;
    font-size: 18px;
}

#hero-content > .controls{
    margin-top: 48px;
    display: flex;
    justify-content: space-evenly;
}

/* Navigation */

#mobile-navigation{
    transition: transform 500ms;
    transform: scale(0);
    transform-origin: top right;
    overflow: hidden;
    background-color: #fff;
    width: 100%;
    position: absolute;
    top: 125px;
    box-shadow: 0px 20px 40px 0px rgba(0,0,0,0.24);
    border-radius: 5px;
    padding: 0 24px;
}

#mobile-main-navigation{
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    color: #1f3e5a;
    text-align: center;
}

#mobile-main-navigation li{
    margin: 24px 0;
    font-size: 18px;
    cursor: pointer;
}

#mobile-navigation-buttons{
    border-top: 1px solid #E8E4E4;
    margin: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mobile-navigation-buttons > a{
    margin: 10px 0;
}

#show-navigation{
    cursor: pointer;
}

.mobile-sub-nav{
    background-color: #E8E4E4;
    border-radius: 5px;
    overflow: hidden;
    max-height: 0px;
    transition: 500ms ease-in;
}

.mobile-sub-nav > ul > li > a{
    font-size: 16px;
    color: #1F3E5A;
}

/* Contents */
.contents{
    margin-top: 100px;
}

.contents > .container > header{
    font-size: 28px;
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    text-align: center;
    color: #1F3E5A;
}

.content-box{
    margin-top: 24px;
}

.content-box > article{
    margin-top: 26px;
}

.content-box h2{
    font-size: 28px;
    padding: 12px 0;
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    text-align: center;
    color: #1F3E5A;
}

.content-box p{
    margin-top: 12px;
    font-size: 16px;
    text-align: center;
    font-family: 'Overpass', sans-serif;
    font-size: 16px;
    color: #4C5862;
    line-height: 28px;
}

/* First Content Image */

#first-content-image > img{
    width: 100%;
}

/* Second content dark bg */

#second-content{
    position: relative;
}

#dark-bg{
    background: linear-gradient(90deg, #2D2E40, #3F4164);
    border-radius: 0px 100px 0px 100px;
    padding: 30vh 0 100px 0;
    position: relative;
    z-index: 1;
}

#dark-bg::before{
    content: "";
    background: url('../images/bg-pattern-circles.svg');
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-size: 100%;
    background-position: center top 100%;
    background-repeat: no-repeat;
    z-index: -1;
    overflow: hidden;
    border-radius: 0px 100px 0px 100px;
}

#dark-bg > .container > .content-box > h1{
    font-size: 40px;
    color: #fff;
    font-family: 'Overpass';
    font-weight: 600;
    text-align: center;
}

#dark-bg > .container > .content-box > p{
    color: #fff;
    font-weight: 300;
    line-height: 28px;
}

#second-content-image {
    height: 20vh;
    width: 100%;
    position: relative;
}

#second-content-image > img{
    z-index: 5;
    width: 100%;
    position: absolute;
    bottom: -30vh;
}